<h1>Login</h1>
<form method="post" action="/auth">
  <div>
    <label>OTP:</label>
    <input type="hidden" name="phone" value="{{phone}}" />
    <input type="text" name="otp" />
    <button>Login</button>
  </div>
</form>